<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta
		name="msvalidate.01" content="41307F45FB1D420195E88CD09503BCF0"/>
		<!-- Meta pour indexation Bing -->
		<meta
		name="description" content="Faites entrer votre entreprise dans le monde du numérique , DT-developpement.fr gère votre communication sur internet : Développement de site vitrine , Community-management , Création de design">
		<!-- Favicon -->
		<link rel="icon" type="image/png" href="https://img.icons8.com/doodle/50/000000/internet.png"/>
		<title>{{ tabTitle }} DT-developpement.fr</title>
		{% block stylesheet %}
		<!-- Link of CSS page style -->
		<link rel="stylesheet" href="assets/css/layout.css">
		<!-- Link of Police -->
		<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
		{% endblock %}
		<!-- CSS only Bootstrap5-->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	</head>

	<body>
    {% block header %}
		<header id="header">
			<div class="header-container">

				<div class="logo-container">
					<a href="/">
						<span id="DT">DT</span>
						<span id="DTsub">Développeur <span class="typer" id="typing-words" data-words="Web,Mobile,I.A" data-delay="350"
                    data-colors="#FFC107,green,purple">
                </span>
                <span style="font-size:1.2em;vertical-align:middle;" class="cursor" data-cursorDisplay="|"
                    data-owner="some-id"></span></span>
					</a>
				</div>

				<div id="hamburger">
					<div id="hamburger-content">
						<nav id="menu">
							<ul>
								<li>
									<a href="/" class="menu-links"><span class="text">Accueil</span></a>
								</li>
								<li>
									<a href="/apropos" class="menu-links"><span class="text">A propos</span></a>
								</li>
								<li>
									<a href="/contact" class="menu-links"><span class="text">Contact</span></a>
								</li>
							</ul>
						</nav>
					</div>
					<button id="hamburger-btn">&#9776;</button>
					<div id="hamburger-sidebar">
						<div id="hamburger-sidebar-header"></div>
						<div id="hamburger-sidebar-body"></div>
					</div>
					<div id="hamburger-overlay"></div>
				</div>

				<div class="social-container">
					<ul>
						<!--<li class="social-list">
							<a id="fb-link" class="social-links" href="https://www.facebook.com/DTDeveloppement/">
								<i class="fab fa-facebook-square"></i>
							</a>
						</li>-->
						<li class="social-list">
							<a id="in-link" class="social-links" href="https://www.linkedin.com/in/dylan-tavar%C3%A8s-727b23187/">
								<i class="fab fa-linkedin"></i>
							</a>
						</li>
						<li class="social-list">
							<a id="github-link" class="social-links" href="https://github.com/TavaresDylan">
								<i class="fab fa-github-square"></i>
							</a>
						</li>
					</ul>
				</div>

			</div>
		</header>
        {% endblock %}

        {% block content %}

        {% endblock %}

        {% block footer %}
        <footer>
			<p><a href="">Mentions légales</a></p>
            <p>Designed By DT-developpement</p>
        </footer>
        {% endblock %}

    {% block javascript %}
	<script async src="https://unpkg.com/typer-dot-js@0.1.0/typer.js"></script>
	<script type="text/javascript" src="assets/js/app.js"></script>
    <!-- SCRIPT Icons fontawesome -->
    <script src="https://kit.fontawesome.com/62f8a9d523.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!-- SCRIPT JS Modal -->
	<script type="text/javascript" src="assets/js/modal.js"></script>
    {% endblock %}
	<!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    </body>
</html>
