{% extends "layout/default.twig" %}

{% block stylesheet %}
<!-- Link of CSS page style -->
<link rel="stylesheet" href="assets/css/layout.css">
<link rel="stylesheet" href="assets/css/apropos.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>

{% endblock %}

{% block content %}
    <section id="section1">
    <div class="first-container">

        <h1>Qui suis-je ?</h1>

        <h2>Un<span class="highlighted"> jeune développeur</span> passionné par les nouvelles technologies du web et de la data.</h2>

        <div id="personal-presentation">
            <div class="id-card-container">
                <div class="id-card">
                    <div id="pic-txt-container">
                        <img id="id-pic" src="assets/img/photoid.jpg" alt="Photo d'identité">
                        <!-- MODAL SYSTEM OPEN BUTTON -->
                        <a href="#modal1" rel="modal:open" class="horizontal boutoncv js-modal" id="openModal" ><span class="text">Voir mon cv ></span></a>
                    </div>
                </div>

            <!-- MODAL HTML embedded directly into document -->
            <aside id="modal1" class="modal-box modal" arira-hidden="true" role="dialog" style="display: none;" rel="modal:open">
                <div class="wrap-modal js-modal-stop">
                    <div id="modal-header">
                        <h4>Mon CV</h4></p>
                        <a href="" rel="modal:close" class="js-close-modal">X</a>
                    </div>
                    <embed src="assets/pdf/CV_IA_FINAL.pdf" width="90%" height="100%" type='application/pdf'/>
                </div>
            </aside>
            <!-- FIN MODAL HTML embedded -->

            <div id="text-presentation">
                <p class="animate__backInLeft text-desc">Bonjour, je suis <span class="highlighted">Dylan Tavarès</span>, jeune développeur <span class="highlighted">web</span> et <span class="highlighted">data scientist</span> installé dans la ville de Toulouse depuis peu.</p>
                <p class="animate__backInRight text-desc">Mon parcours est assez atypique, issu d'une formation dans la mécanique de précision, c'est après 1 an à travailler dans les usines que j'ai choisi de faire de <span class="highlighted">ma passion mon nouveau métier</span>.</p>
                <p class="text-desc">Début d'année <span class="highlighted">2019</span> je commençais une formation de Développeur web et web mobile pour obtenir le dîplome équivanent BTS/BAC+2 en fin d'année.</p>
                <p class="text-desc">Aujourd'hui en <span class="highlighted">2021</span> j'étudie l'intélligence artificielle à l'école <span class="highlighted">Microsoft by Simplon</span> dans le magnifique campus de La cité.</p>
            </div>
        </div>
        
    </section>

    <section id="section2">
        <div id="second-container">
            <h2>Mes compétences Web</h2>
            <!-- Boite des compétences front-end -->
            <div class="skills-box">
                <h3 class="skill-box-title">Front-end</h3>
                <ul>
                    <li><img src="assets/img/120x120/html120x120.png" alt="Logo Html5"><p>HTML5</p></li>
                    <li><img src="assets/img/120x120/css120x120.png" alt="Logo Css3"><p>CSS3</p></li>
                    <li><img src="assets/img/120x120/js120x120.png" alt="Logo JavaScript"><p>JavaScript</p></li>
                    <li><img src="https://www.ambient-it.net/wp-content/uploads/2016/04/bootstrap-logo-175.png" alt="Logo Bootstrap4"><p>Bootstrap4</p></li>
                    <li><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Sass_Logo_Color.svg/1024px-Sass_Logo_Color.svg.png" alt="Logo Sass"><p>Sass</p></li>
                </ul>
            </div>
            <!-- Boite des compétences back-end -->
            <div class="skills-box">
                <h3 class="skill-box-title">Back-end</h3>
                <ul>
                    <li><img src="assets/img/120x120/php120x120.png" alt="Php logo"><p>PHP 7.3</p></li>
                    <li><img src="assets/img/120x120/mysql120x120.png" alt="MySql logo"><p>MySQL</p></li>
                    <li><img src="https://framalibre.org/sites/default/files/leslogos/phpmyadmin.jpg" alt="PhpMyAdmin logo"><p>PhpMyAdmin</p></li>
                    <li><img src="assets/img/120x120/bash120x120.png" alt="Terminal logo"><p>Terminal / Bash</p></li>
                    <li><img src="assets/img/120x120/docker120x120.png" alt="Docker logo"><p>Docker</p></li>
                </ul>
            </div>
            <!-- Boite des compétences systèmes -->
            <div class="skills-box">
                <h3 class="skill-box-title">Systèmes</h3>
                <ul>
                    <li><img src="assets/img/120x120/windows120x120.png" alt="Windows logo"><p>Windows</p></li>
                    <li><img src="assets/img/120x120/mac-logo120x120.png" alt="Mac logo"><p>OsX</p></li>
                    <li><img src="https://pngimg.com/uploads/linux/linux_PNG1.png" alt="Linux logo"><p>Linux</p></li>
                </ul>
            </div>
            <div class="skills-box">
                        <ul class="skill-list">
                            <li><img class="img-skills"
                                    src="assets/img/120x120/python120x120.png"
                                    alt="Logo Pyhton">
                                <p>Pyhton</p>
                            </li>
                            <li><img class="img-skills"
                                    src="assets/img/120x120/r-logo120x120.png"
                                    alt="Logo R">
                                <p>R</p>
                            </li>
                            <li><img class="img-skills"
                                    src="assets/img/120x120/matplotlib120x120.png"
                                    alt="Logo Matplotlib">
                                <p>Matplotlib</p>
                            </li>
                            <li><img class="img-skills"
                                    src="assets/img/120x120/sklearn120x120.png"
                                    alt="Logo SkLearn">
                                <p>Sci-Kit Learn</p>
                            </li>
                            <li><img class="img-skills"
                                    src="assets/img/120x120/seaborn120x120.png"
                                    alt="">
                                <p>Seaborn</p>
                            </li>
                            <li><img class="img-skills"
                                src="assets/img/120x120/jupyterlab120x120.png"
                                alt="">
                                <p>Jupyterlab</p>
                            </li>
                        </ul>
                    </div>
        </div>

        
    </section>

    <section id="section3">
        <div id="third-container">
            <h2 class="mt-4">Expériences</h2>
            <div id="timeline">
                <ul>
                    <li>
                        <div class="date-text">
                            <h3>2021</h3>
                            <p>Traitement et analyse des données permettant la mise en place de modèles d’apprentissage suivant une méthodologie définie</p>
                            <p>Exploitation d’un modèle d’apprentissage en utilisant les méthodes du machine learning.</p>
                            <p>Assemblage d’un modèle d’apprentissage profond</p>
                        </div>
                        <div class="img-container img-fluid w-20 d-flex flex-column">
                            <img class="img-fluid w-30" src="assets/img/LOGO-SIMPLON-grey.png" alt="">
                            <img class="img-fluid w-30" src="assets/img/microsoft300x90.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="img-container d-flex align-items-center">
                            <img class ="" style="width: 40%; height:40%;" src="assets/img/logoPraaxis.png" alt="">
                        </div>
                        <div class="date-text">
                            <h3>2019</h3>
                            Stage : Développeur Wordpress à Praaxis
                        Montluçon</br>
                        <p><i class="fas fa-globe"></i> Site internet : <a href="https://praaxis.fr/">praaxis.fr <i
                                    class="fas fa-external-link-alt"></i></a></p>
                            <p>Dans cette petite startup de 2 personnes j'ai eu pour objectif lors de ce stage la mise en production de nouvelles pages avec le thème DIVI de <span class="highlighted">Wordpress</span>. En prenant en compte l'aspect <span class="highlighted">SEO</span> de la rédaction de contenu. Pour se faire j'ai utiliser google trends afin d'analyser les tendances de recherche du web. Ainsi de l'utilisation de Adobe XD pour la création de <span class="highlighted">maquettes dynamiques</span>.</p>
                        </div>
                    </li>
                    <li>
                        <div class="date-text">
                            <h3>2018</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint corrupti porro sequi explicabo eius. Fuga nobis impedit ex quidem dolorum illum quaerat, repudiandae nesciunt vero voluptatem aliquam id excepturi magni?</p>
                        </div>
                        <div class="img-container">
                            <img src="https://picsum.photos/300/300" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="img-container">
                            <img class ="" src="assets/img/logoPraaxis.png" alt="">
                        </div>
                        <div class="date-text">
                            <h3>2017</h3>
                            <p>Dans cette petite startup de 2 personnes j'ai eu pour objectif lors de ce stage la mise en production de nouvelles pages avec le thème DIVI de Wordpress. En prenant en compte l'aspect SEO de la rédaction de contenu. Pour se faire j'ai utiliser google trends afin d'analyser les tendances de recherche dans le domaine du web. L'expérience que j'ai pu acquérir lors de cette période de stage</p>
                        </div>
                    </li>
                    <li>
                        <div class="date-text">
                            <h3>2016</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint corrupti porro sequi explicabo eius. Fuga nobis impedit ex quidem dolorum illum quaerat, repudiandae nesciunt vero voluptatem aliquam id excepturi magni?</p>
                        </div>
                        <div class="img-container">
                            <img src="https://picsum.photos/300/300" alt="">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section id="section4">
        <div id="container-carousel">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="assets/img/aformacpromo.jpeg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/img/IMG_4136.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/img/82944151_601042954008985_8846757152216317952_o.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
    </section>

    <section class="d-flex flex-column justify-content-center align-items-center" id="" style="height: 100vh; background:#055691;;">
        <div class="d-flex justify-content-center">
            <img class="h-60" src="assets/img/development_JS.png" alt="">
        </div>
        <div class="mt-4 pt-4 d-flex justify-content-around w-100">
            <img class="img-fluid w-30" src="assets/img/microsoft300x90.png" alt="">
            <img class="img-fluid w-30" src="assets/img/Simplon300x100.png" alt="">
            <img class="img-fluid w-30" src="assets/img/gen.png" alt="">
        </div>
    </section>

    <section id="section-contact">
        <a href="" class="horizontal boutoncv js-modal" id="openModal" ><span class="text">Contactez-moi ></span></a>
    </section>
{% endblock %}
