{% extends "layout/default.twig" %}

{% block stylesheet %}
<!-- Link of CSS page style -->
<link rel="stylesheet" href="assets/css/layout.css">
<link rel="stylesheet" href="assets/css/contact.css">
{% endblock %}

{% block content %}

    <section id="contact-section" id="parallax-contact">

        <!-- TITRE -->
        <h1>Prenez Contact</h1>

        <h2>Une <span class="highlighted">idée de projet</span> ? Nous pouvons en parler.</h2>

        <div class="card-container">
            <div class="cards-contact">
                <h3>Par téléphone</h3>
                <div class="card-img-container">
                    <img class="img-fluid w-50" src="https://cdn.pixabay.com/photo/2016/05/30/14/58/guy-1424911_1280.png" alt="Image d'illustration contact par téléphone">
                </div>
                <div>
                    <a href="tel:0614144256" class="btn-tel"><span class="text"><i class="fas fa-phone-alt"></i> 06 14 14 42 56</span></a>
                </div>
            </div>
            <div class="cards-contact">
                <h3>Par e-mail</h3>
                <div class="card-img-container">
                    <img class="img-fluid w-50" src="https://cdn.pixabay.com/photo/2016/06/15/16/16/man-1459246_1280.png" alt="Image d'illustration contact par mail">
                </div>
                <div>
                    <a href="mailto:tavares.dylan03@gmail.com" class="btn-tel"><span class="text"><i class="fas fa-at"></i> Tavares.dylan03@gmail.com</span></a>
                </div>
            </div>
        </div>

        <h3>Ou via les <span class="highlighted">réseaux sociaux</span></h3>

        <div class="social-container-recall">
            <ul>
                <li class="social-list"><a id="in-link" class="social-links" href="https://www.linkedin.com/in/dylan-tavar%C3%A8s-727b23187/"><i class="fab fa-linkedin"></i></a></li>
                <li class="social-list"><a id="github-link" class="social-links" href="https://github.com/TavaresDylan"><i class="fab fa-github-square"></i></a></li>
            </ul>
        </div>

    </section>
{% endblock %}