<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta
		http-equiv="X-UA-Compatible" content="ie=edge">
		<!-- Meta Bing -->
		<meta
		name="msvalidate.01" content="41307F45FB1D420195E88CD09503BCF0"/>
		<!-- Site Description -->
		<meta name="description" content="Faites entrer votre entreprise dans le monde du numérique , DT-developpement.fr gère votre communication sur internet : Développement de site vitrine , Community-management , Création de design">
		<title>{{ tabTitle }}
			DT-developpement.fr</title>
		<!-- Link CSS -->
		{% block stylesheet %}
		<link href="assets/css/404.css" rel="stylesheet"></link>
		{% endblock %}
		<!-- Link Police -->
		<link
		href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
		<!-- Favicon Tab -->
		<link rel="icon" type="image/png" href="https://img.icons8.com/doodle/50/000000/internet.png"/>
	</head>

	<body>
		<div id="container-404">

			<h1>4<span>0</span>4</h1>

			<h2>Oups ! On dirait que vous vous êtes perdu.</h2>

			<div>
				<div id="container-img-404">
					<img src="assets/img/robotError.png"></img>
				</div>

				<div id="txt-link-tohome">
					<p>
						La page que vous cherchez n’existe pas.</br>
						</br>
						Vous pouvez revenir a l’accueil à l’aide du bouton ci-dessous.
					</p>
					<a href="/" class="horizontal"><span class="text">Retour à l'acceuil</span></a>
				</div>
			</div>

		</div>
	</body>
</html>